.loading-spinner1, .loading-spinner2, .loading-spinner3, .loading-spinner4 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top: 1px solid rgba(255, 255, 255);
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading-spinner1 {
  animation: spin1 1s linear infinite;
}
.loading-spinner2 {
  animation: spin2 1s linear infinite;
}
.loading-spinner3 {
  animation: spin3 1s linear infinite;
}
.loading-spinner4 {
  animation: spin4 1s linear infinite;
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@keyframes spin4 {
  0% { transform: rotate(-180deg); }
  100% { transform: rotate(180deg); }
}
@keyframes spin2 {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(-180deg); }
}
