
.pagination-button {
  background-color: #222;
  color: #FFF;
  border: none;
  padding: 0.4em 0.8em;
  margin: 0 0.2em;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button--active{
  cursor: default;
  background-color: #0c0c0c;
  color: #555;
}

.pagination-button--current {
  font-weight: bold;
  background-color: #555;
  color: #FFF;
}

.pagination-button--dots {
  cursor: pointer;
  background-color: #222;
  color: #FFF;
  font-size: 0.7em;
  padding: 0.8em 0.75em;
}

.pagination-button:hover {
  background-color: #666;
}

.pagination-button--active:hover {
  background-color: #0c0c0c;
}