
.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: none;
}

.search-bar input {
  flex-grow: 1;
  width: 0px; /* Allows the input to become really small */
  padding: 0.8em 1em;
  border: none;
  margin-right: 1em; 
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #222;
  color: #FFF;
}

.search-bar input:focus {
  background-color: #eeeeee;
  color: #000;
  font-weight: bold;
}

.search-button {
  height: max-content;
  margin-right: 0;
  padding: 0.3em 0.6em;
  border: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #222;
  color: white;
  cursor: default;
}

.icon {
  width: 2em;
  height: 1.5em;
}

@media (max-width: 680px) {
  .search-button {
    display: none;
  }

  .search-bar input {
    border-radius: 24px;
  }
}