
.controls {
  display: flex;
  align-items: center;
}

.controls button {
  flex-grow: 0.5;
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 0;
  background-color: #222;
  cursor: pointer;
  color: white;
}

.controls button:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.controls button:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.controls button:hover {
  background-color: #555;
  color: white;
}

.controls button.active {
  background: #ccc;
  color: black;
}